* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 950px;
}

@media all and (max-width: 991px) {
  .container {
    max-width: 760px;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.container--wider {
  max-width: 1190px;
}

@media all and (max-width: 991px) {
  .container--wider {
    max-width: 760px;
  }
}

@media all and (max-width: 768px) {
  .container--wider {
    max-width: 100%;
    padding: 0 15px;
  }
}

.section {
  padding: 55px 0;
}

.section--contact {
  background-color: #274291;
  background-image: url("../img/contact-background.png");
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.cog-container {
  padding: 84px 0;
}

.cog-ellipse {
  width: 596px;
  height: 596px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media all and (max-width: 1280px) {
  .cog-ellipse {
    width: 440px;
    height: 440px;
  }
}

@media all and (max-width: 991px) {
  .cog-ellipse {
    width: 100%;
    height: auto;
  }
}

.cog-ellipse-element {
  position: absolute;
}

@media all and (max-width: 991px) {
  .cog-ellipse-element {
    position: static;
    -webkit-transform: none !important;
            transform: none !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.cog-ellipse-element__figure {
  width: 80px;
  height: 80px;
  border: 3px solid #D4DBE0;
  border-radius: 50%;
  background-color: #F4F7F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1280px) {
  .cog-ellipse-element__figure {
    width: 70px;
    height: 70px;
  }
}

@media all and (max-width: 991px) {
  .cog-ellipse-element__figure {
    margin: 0 auto;
    position: relative;
  }
}

.cog-ellipse-element__subtitle {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #2F2F2F;
  white-space: nowrap;
  position: absolute;
}

@media all and (max-width: 1280px) {
  .cog-ellipse-element__subtitle {
    font-size: 12px;
  }
}

.cog-ellipse-element__subtitle--top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: -20px;
}

.cog-ellipse-element__subtitle--right {
  left: calc(100% + 20px);
}

.cog-ellipse-element__subtitle--left {
  right: calc(100% + 20px);
}

.cog-ellipse-element__subtitle--bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: -20px;
}

@media all and (max-width: 991px) {
  .cog-ellipse-element__subtitle {
    top: 80px !important;
    left: 50% !important;
    right: unset !important;
    bottom: unset !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
}

.cog-ellipse-element__image {
  -webkit-transition: .4s;
  transition: .4s;
}

.cog-ellipse-element__image:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.cog-ellipse__container {
  width: 100%;
  height: 100%;
  border: 1px solid #D4DBE0;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 991px) {
  .cog-ellipse__container {
    border-radius: 0;
    border: none;
  }
}

.cog-ellipse__inner {
  width: 469px;
  height: 469px;
  background: url("../img/first-section-background.png") no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 1280px) {
  .cog-ellipse__inner {
    width: 350px;
    height: 350px;
  }
}

@media all and (max-width: 991px) {
  .cog-ellipse__inner {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.cog-ellipse__title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFF;
  line-height: 18px;
  text-transform: uppercase;
}

@media all and (max-width: 1280px) {
  .cog-ellipse__title {
    font-size: 12px;
  }
}

.header {
  text-align: center;
  margin-bottom: 47px;
}

.header__title {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 31px;
  color: #2F2F2F;
  margin-bottom: 22px;
}

.header__title--white {
  color: #FFF;
}

.header__paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFF;
}

.header__paragraph--black {
  color: #565E66;
}

.header__paragraph--bigger {
  font-size: 18px;
}

.header__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.header__link--bigger {
  font-size: 18px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 305px;
  height: 50px;
  padding: 0 12px;
  margin-bottom: 18px;
  color: #565E66;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

@media all and (max-width: 991px) {
  .form__input {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
}

@media all and (max-width: 768px) {
  .form__input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

.form__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

.form__input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

.form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

.form__input--checkbox {
  -ms-flex-preferred-size: 15px;
      flex-basis: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-bottom: 0;
  margin-right: 9px;
}

.form__input--submit {
  font-weight: bold;
  line-height: 18px;
  background-color: #35A8E0;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: #35A8E0;
  text-transform: uppercase;
  margin: 0 auto;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.form__input--submit:hover {
  border: 1px solid #FFF;
  background-color: #FFF;
  color: #35A8E0;
}

.form__select {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 305px;
  height: 50px;
  padding: 0 12px;
  margin-bottom: 18px;
  color: #565E66;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 17.5px) center;
}

@media all and (max-width: 991px) {
  .form__select {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
}

@media all and (max-width: 768px) {
  .form__select {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.form__textarea {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 305px;
  height: 50px;
  padding: 0 12px;
  margin-bottom: 18px;
  color: #565E66;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  padding: 15px 12px;
  height: 124px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565E66;
}

@media all and (max-width: 991px) {
  .form__textarea {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 48%;
  }
}

@media all and (max-width: 768px) {
  .form__textarea {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 991px) {
  .form__textarea {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.form__divider {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 29px;
  margin-bottom: 35px;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #35A8E0;
  text-decoration: none;
  margin: 0 3px;
}
/*# sourceMappingURL=main.css.map */