* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 950px;

    @media all and (max-width: 991px) {
        max-width: 760px;
    }

    @media all and (max-width: 768px) {
        max-width: 100%;
        padding: 0 15px;
    }

    &--wider {
        max-width: 1190px;

        @media all and (max-width: 991px) {
            max-width: 760px;
        }
    
        @media all and (max-width: 768px) {
            max-width: 100%;
            padding: 0 15px;
        }
    }
}